<div class="self-center min-w-[24rem] mt-6 mb-2 px-10 py-6 pb-8 bg-white border border-gray-200 rounded-lg dark:bg-gray-800 dark:border-gray-700 text-gray-800 dark:text-white">

  <h2 class="text-center mb-6 text-2xl font-medium text-gray-800 dark:text-white">Logowanie</h2>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <%= render "patients/shared/error_messages", resource: resource %>

    <div class="field flex flex-col mb-4">
      <span class="mb-1 text-sm font-medium text-gray-900 dark:text-white">
        <%= f.label :email %>
      </span>
      <%= f.email_field :email, autofocus: true, autocomplete: "email",
        class: "text-sm text-gray-800 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" %>
    </div>

    <div class="field flex flex-col mb-4">
      <span class="mb-1 text-sm font-medium text-gray-900 dark:text-white">
        <%= f.label :password, 'Hasło' %>
      </span>
      <%= f.password_field :password, autocomplete: "current-password",
        class: "text-sm text-gray-800 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" %>
    </div>

    <% if devise_mapping.rememberable? %>
      <div class="field text-normal flex items-center gap-2 mb-4">
        <%= f.check_box :remember_me, class: "rounded-sm bg-gray-50 border-gray-300 dark:bg-gray-600 dark:border-gray-500" %>
        <%= f.label :remember_me, 'Zapamiętaj mnie', class: "text-gray-800 dark:text-white" %>
      </div>
    <% end %>

    <div class="actions">
      <%= f.submit "Zaloguj",
        class: "w-full text-white bg-teal-400 hover:bg-blue-600 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-normal px-5 py-2.5 mt-1 mb-3 text-center inline-flex items-center dark:bg-teal-600 dark:hover:bg-teal-500 dark:focus:ring-blue-800"
      %>
    </div>
  <% end %>

  <div class="flex gap-3 justify-center text-sm text-gray-500">
    <span class="text-teal-500">
      <%= link_to "Zarejestruj się", new_registration_path(resource_name) %>
    </span>
    <%= link_to "Nie pamiętasz hasła?", new_password_path(resource_name) %>
  </div>
</div>